.footer {
  background-color: #111;

  padding: 30px 0;
}

.footer a {
  position: relative;
  left: 0;
  color: #999;
  transition: all 0.3s;

  text-decoration: none;
  font-size: 0.85rem;
  line-height: 1.7;
}

.footer a:hover,
.footer a:focus {
  left: 10px;
  color: var(--active-color);
  transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
